<h1>Clients</h1>
<%= link_to 'New Client', new_client_path %> 
<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.code %></td>
      <td><%= client.description %></td>
      <td><%= link_to 'Show', client %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>      
	  <td><%= link_to 'Destroy', client_path(client),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>